<a href="https://colab.research.google.com/github/uditsans/Project_Euler_Solutions/blob/main/Sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# All Libraries to be used in this Assignment

In [ ]:
import numpy as np
import pandas as pd

## Q1. Given a list of tuples, find the number of occurrences of each tuple in the list.

In [ ]:
list_of_tuples = [(1,2),(3,4),(1,2),(1,3),(1,3,2),("Quantiphi","ML")]

occurrences = {tuples:0 for tuples in list_of_tuples}

for tuples in list_of_tuples:
    occurrences[tuples] += 1
    
# print(occurrences) ## For printing it as a dictionary

for key in occurrences.keys():    
    print(key,"occured",occurrences[key],"times.")

(1, 2) occured 2 times.
(3, 4) occured 1 times.
(1, 3) occured 1 times.
(1, 3, 2) occured 1 times.
('Quantiphi', 'ML') occured 1 times.

## Q2. Create a list of 10 random numbers between 1-100. Create a balanced BST (Binary search tree) from this array

In [ ]:
class Node(object):
    def __init__(self,x):
        self.val = x
        self.left = None
        self.right = None
    
    
def BST(array):
    if not array:
        return None
    mid_index = len(array)//2
    
    BST_Node = Node(array[mid_index])
    BST_Node.left = BST(array[:mid_index])
    BST_Node.right = BST(array[(mid_index+1):])
    
    return BST_Node


def Show_BST(node,parent,node_side):
    
    if not node:
        return
    
    print(node.val,"is the",node_side,"of",parent)
    Show_BST(node.left,node.val,"left node")
    Show_BST(node.right,node.val,"right node")
    
    
random_numbers = np.random.randint(1,100,10)
print("The random array that is used", random_numbers,"\n")

sorted_array = sorted(random_numbers)
Bal_BST = BST(sorted_array)

Show_BST(Bal_BST,"this tree",'root')

The random array that is used [79 21 38 25  4 19 50  8 86 50]

38 is the root of this tree
19 is the left node of 38
8 is the left node of 19
4 is the left node of 8
25 is the right node of 19
21 is the left node of 25
79 is the right node of 38
50 is the left node of 79
50 is the left node of 50
86 is the right node of 79

## Q3. Given a dictionary, create a list of all the keys of the dictionary, which can be formed from the values present in the dictionary.

In [ ]:
dictionary = {'black' :'r', 'hero':'e', 'go':'g', 'clue':'i','mean':'q', 'groan':'o',\
              'sin':'p', 'pint':'u', 'tone':'n', 'graze':'s', 'sea':'t', 'plant':'a'}

present_in_dictonary = []

for key in dictionary.keys():
    flag = True
    
    for letter in key:
        if letter not in dictionary.values():
            flag = False
            break
    
    if flag:
        present_in_dictonary.append(key)
        
print("List of all the keys formed from values in the dictionary:",present_in_dictonary)

List of all the keys formed from values in the dictionary: ['go', 'groan', 'sin', 'pint', 'tone', 'sea']

## Q4. Given the following list of tuples

In [ ]:
listA = [(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]

### 1. Sort the list by 1st item in the tuple in ascending order

In [ ]:
sorted_by_first = sorted(listA, key=lambda tuples: tuples[0])
print("List when sorted by 1st item in tuple:",sorted_by_first)

List when sorted by 1st item in tuple: [(1, 2), (2, 10), (4, 3), (6, 7), (9, 11), (12, 5), (15, 4)]

### 2. Sort the list by 2nd item in the tuple in ascending order

In [ ]:
sorted_by_second = sorted(listA, key=lambda tuples: tuples[1])
print("List when sorted by 2nd item in tuple:",sorted_by_second)

List when sorted by 2nd item in tuple: [(1, 2), (4, 3), (15, 4), (12, 5), (6, 7), (2, 10), (9, 11)]

### 3. Sort the list of tuples in descending order

In [ ]:
reverse_sorted_first = sorted(listA, key=lambda tuples: tuples[0], reverse = True)
print("List when reverse sorted by 1st item in tuple:",reverse_sorted_first)

reverse_sorted_second = sorted(listA, key=lambda tuples: tuples[1], reverse = True)
print("\nList when reverse sorted by 2nd item in tuple:",reverse_sorted_second)

List when reverse sorted by 1st item in tuple: [(15, 4), (12, 5), (9, 11), (6, 7), (4, 3), (2, 10), (1, 2)]

List when reverse sorted by 2nd item in tuple: [(9, 11), (2, 10), (6, 7), (12, 5), (15, 4), (4, 3), (1, 2)]

## Q5. What do you mean by a mutable and immutable object. Are string, list, tuple, dictionary mutable type objects or immutable objects.

Any object that can be changed/mutated without creating another instance (copy) of it is a mutable object. Those objects that cannot be changed without creating another instance of it are immutable. For example, we can change any item of a list, however this cannot be done with a tuple. 

In Python, lists and dictionaries are mutable, whereas strings and tuples are immutable.

## Q6. Learn The usage of Pandas and Numpy

In [ ]:
dataset = pd.read_csv("banking.csv")

### 1. Write the command to find unique values in education.

In [ ]:
print(dataset["education"].unique())

['basic.4y' 'unknown' 'university.degree' 'high.school' 'basic.9y'
 'professional.course' 'basic.6y' 'illiterate']

### 2. Command to find the number of customers subscribed and not subscribed.

In [ ]:
print(dataset['y'].value_counts())

0    36548
1     4640
Name: y, dtype: int64

### 3. Find the mean values of all the independent variables for every ‘y’ (outcome variable)

In [ ]:
print(dataset.groupby('y').mean())

         age    duration  campaign       pdays  previous  emp_var_rate  \
y
0  39.911185  220.844807  2.633085  984.113878  0.132374      0.248875
1  40.913147  553.191164  2.051724  792.035560  0.492672     -1.233448

   cons_price_idx  cons_conf_idx  euribor3m  nr_employed
y
0       93.603757     -40.593097   3.811491  5176.166600
1       93.354386     -39.789784   2.123135  5095.115991

### 4. What is the mean age for every marital status

In [ ]:
print(dataset.groupby('marital')['age'].mean())

marital
divorced    44.899393
married     42.307165
single      33.158714
unknown     40.275000
Name: age, dtype: float64

### 5. Check for null values

In [ ]:
print(dataset.isnull().sum())

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

### 6. Find the descriptive statistics for each column

#### Describing categorical data

In [ ]:
print(dataset.describe(include=['O']))

           job  marital          education default housing   loan   contact  \
count    41188    41188              41188   41188   41188  41188     41188
unique      12        4                  8       3       3      3         2
top     admin.  married  university.degree      no     yes     no  cellular
freq     10422    24928              12168   32588   21576  33950     26144

        month day_of_week     poutcome
count   41188       41188        41188
unique     10           5            3
top       may         thu  nonexistent
freq    13769        8623        35563

#### Describing numerical data

In [ ]:
print(dataset.describe())

               age      duration      campaign         pdays      previous  \
count  41188.00000  41188.000000  41188.000000  41188.000000  41188.000000
mean      40.02406    258.285010      2.567593    962.475454      0.172963
std       10.42125    259.279249      2.770014    186.910907      0.494901
min       17.00000      0.000000      1.000000      0.000000      0.000000
25%       32.00000    102.000000      1.000000    999.000000      0.000000
50%       38.00000    180.000000      2.000000    999.000000      0.000000
75%       47.00000    319.000000      3.000000    999.000000      0.000000
max       98.00000   4918.000000     56.000000    999.000000      7.000000

       emp_var_rate  cons_price_idx  cons_conf_idx     euribor3m  \
count  41188.000000    41188.000000   41188.000000  41188.000000
mean       0.081886       93.575664     -40.502600      3.621291
std        1.570960        0.578840       4.628198      1.734447
min       -3.400000       92.201000     -50.800000      0.634000
25%       -1.800000       93.075000     -42.700000      1.344000
50%        1.100000       93.749000     -41.800000      4.857000
75%        1.400000       93.994000     -36.400000      4.961000
max        1.400000       94.767000     -26.900000      5.045000

        nr_employed             y
count  41188.000000  41188.000000
mean    5167.035911      0.112654
std       72.251528      0.316173
min     4963.600000      0.000000
25%     5099.100000      0.000000
50%     5191.000000      0.000000
75%     5228.100000      0.000000
max     5228.100000      1.000000

### 7. Use pd.query(), iloc, loc and range subsetting to extract insights from the data. You will be evaluated on the quality of your queries and the rationale behind selecting them. You can extract upto five (5) separate insights from the data.

In [ ]:
# Information of all the subscribers that also have a loan 
dataset.query('y == 1 & loan == "yes"')

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
100,33,blue-collar,single,basic.4y,no,yes,yes,cellular,apr,thu,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1,1
180,50,self-employed,married,basic.9y,no,yes,yes,cellular,may,mon,...,6,3,1,success,-1.8,92.893,-46.2,1.354,5099.1,1
287,37,admin.,married,university.degree,no,yes,yes,cellular,jun,mon,...,2,999,0,nonexistent,-2.9,92.963,-40.8,1.266,5076.2,1
404,30,technician,married,university.degree,no,yes,yes,cellular,jul,mon,...,4,999,0,nonexistent,-1.7,94.215,-40.3,0.870,4991.6,1
436,29,admin.,single,university.degree,no,yes,yes,cellular,nov,thu,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40895,32,services,single,university.degree,no,no,yes,cellular,may,fri,...,3,999,0,nonexistent,-1.8,93.876,-40.0,0.699,5008.7,1
40993,57,retired,married,basic.9y,no,yes,yes,cellular,aug,tue,...,4,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,1
41051,59,admin.,married,unknown,no,no,yes,cellular,sep,mon,...,4,999,1,failure,-3.4,92.379,-29.8,0.797,5017.5,1
41078,20,student,single,basic.4y,no,yes,yes,cellular,apr,tue,...,4,6,1,success,-1.8,93.749,-34.6,0.644,5008.7,1
41086,40,self-employed,married,university.degree,unknown,yes,yes,cellular,nov,thu,...,3,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,1

In [ ]:
# Which month had how many number of subscribers
dataset.loc[dataset['y']==1]["month"].value_counts()

may    886
aug    655
jul    649
jun    559
apr    539
nov    416
oct    315
mar    276
sep    256
dec     89
Name: month, dtype: int64

In [ ]:
# The subscription pattern among retired people
dataset.loc[dataset['job']=='retired']["y"].value_counts()

0    1286
1     434
Name: y, dtype: int64

In [ ]:
# The people who have default == 'yes' (possible outliers)
dataset.loc[dataset['default']=='yes']

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
229,31,unemployed,married,high.school,yes,no,no,cellular,nov,tue,...,2,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8,0
6934,48,technician,married,professional.course,yes,no,no,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
22050,48,technician,married,professional.course,yes,yes,no,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0

In [ ]:
# Subscribers that have a management or admin job
dataset.loc[(dataset['y']==1) & ((dataset["job"]=="management")|(dataset["job"]=="admin."))]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
8,36,admin.,married,university.degree,no,no,no,cellular,jun,mon,...,1,3,1,success,-2.9,92.963,-40.8,1.266,5076.2,1
12,55,management,married,university.degree,no,no,no,cellular,aug,mon,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,1
17,27,admin.,single,university.degree,no,no,no,telephone,oct,tue,...,1,999,0,nonexistent,-0.1,93.798,-40.4,4.860,5195.8,1
62,30,management,married,university.degree,no,no,no,cellular,mar,mon,...,1,999,0,nonexistent,-1.8,92.843,-50.0,1.811,5099.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40985,31,admin.,married,high.school,no,no,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,1
40987,56,admin.,married,basic.9y,no,yes,no,cellular,apr,thu,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.410,5099.1,1
41049,39,admin.,single,high.school,no,yes,no,cellular,mar,tue,...,3,999,0,nonexistent,-1.8,92.843,-50.0,1.687,5099.1,1
41051,59,admin.,married,unknown,no,no,yes,cellular,sep,mon,...,4,999,1,failure,-3.4,92.379,-29.8,0.797,5017.5,1
41125,40,admin.,married,university.degree,no,no,no,cellular,may,mon,...,4,999,0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1,1